/*
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

.width-10p {
  width: 10%;
}

.width-20p {
  width: 20%;
}

.width-30p {
  width: 30%;
}

.width-40p {
  width: 40%;
}

.width-50p {
  width: 70%;
}

.width-70p {
  width: 70%;
}

.no-wrap {
  white-space: nowrap;
}

.word-break-all {
  word-break: break-all;
}

.display-inline {
  display: inline;
}


.div-striped:nth-of-type(odd) {
  background-color: $table-bg-accent;
}

.display-block {
  display: block;
}

.white-space-pre-wrap {
  white-space: pre-wrap;
}

.mb-5px {
  margin-bottom: 5px;
}

.label-danger2 {
  background-color: #ff00bb;
}
